.services__item-text {
  font-family: "Dosis-Medium";
  font-weight: 500;
}

.call__btn, .call__title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.news__item-link, .project__item-link, .services__item-link, .services__item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
.services__item-text {
  font-family: "Dosis-Medium";
  font-weight: 500;
}

.call__btn, .call__title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.news__item-link, .project__item-link, .services__item-link, .services__item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #b9b9b9;
}

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.title {
  font-size: 24px;
  line-height: 28px;
  color: #2b4074;
  padding-bottom: 28px;
  position: relative;
}
.title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 8px;
  background-color: #2b4074;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
    line-height: 56px;
  }
  .title::after {
    width: 100px;
  }
}
.header {
  background-color: #2b4074;
}
.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}
.logo__link {
  margin-left: 8px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0;
  }
}
.menu__btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
  position: relative;
}
.menu__btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2b4074;
  top: 15px;
  left: 14px;
  box-shadow: 0 4px 0 0 #2b4074, 0 8px 0 0 #2b4074;
}

@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
}
.head {
  background-image: url(../images/bg-slider.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 193px;
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
}
.top-slider__item {
  color: #ffffff;
  text-align: center;
  min-height: 193px;
}
.top-slider__title {
  font-family: "RobotoCondensed-Regular";
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 36px 0 28px;
  max-width: 243px;
  margin: 0 auto;
  position: relative;
}
.top-slider__title::after {
  content: "";
  width: 61px;
  height: 8px;
  background-color: #4a4a4a;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.top-slider__text {
  display: none;
}
.top-slider__btn {
  display: none;
}
.top-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476e4d;
}
.top-slider .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #2b4074;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .top-slider__item {
    min-height: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    max-width: 520px;
  }
  .top-slider__btn {
    display: block;
    margin: 0 auto 113px;
    background-color: #2b4074;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #f9f6e5;
    padding: 16px 45px;
    border: none;
    border-radius: 3px;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 3;
  }
  .top-slider .slick-prev {
    background-color: #2b4074;
    color: #f9f6e5;
    top: calc(50% - 56px);
  }
  .top-slider .slick-next {
    background-color: #f9f6e5;
    color: #2b4074;
    bottom: calc(50% - 56px);
  }
}
@media (min-width: 768px) {
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__title {
    padding: 87px 0 0;
    margin: 0 auto;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    display: block;
    padding: 25px 0 32px;
    font-family: "RobotoCondensed-Regular";
    font-size: 18px;
    line-height: 20px;
    max-width: 587px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    padding-top: 100px;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .top-slider__item {
    min-height: 668px;
  }
  .top-slider__title {
    padding-top: 105px;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    max-width: 865px;
  }
  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }
  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }
}
.call {
  background-color: #2b4074;
  padding: 40px 0;
  color: #ffffff;
  text-align: center;
}
.call__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}
.call__text {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 40px;
}
.call__btn {
  background-color: #f9f6e5;
  color: #2b4074;
  padding: 16px 15px;
  font-size: 18px;
  line-height: 18px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .call__box {
    max-width: 695px;
  }
}
@media (min-width: 1440px) {
  .call__inner {
    padding: 0 80px;
  }
  .call__box {
    max-width: 796px;
  }
}
.services {
  padding: 25px 0 40px;
  text-align: center;
}
.services__title {
  margin-bottom: 47px;
}
.services__descr {
  font-size: 20px;
  line-height: 24px;
  color: #4a4a4a;
  margin-bottom: 21px;
}
.services__text {
  color: #797979;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 40px;
}
.services__item {
  min-height: 310px;
  border: 1px solid #f9f6e5;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 18px;
}
.services__item:last-child {
  border-bottom: 1px solid #f9f6e5;
}
.services__item:hover .services__item-text,
.services__item:hover .services__item-link {
  display: block;
}
.services__item:hover .services__item-img {
  margin-bottom: 14px;
}
.services__item:hover .services__item-title {
  margin-bottom: 30px;
}
.services__item:hover .sevices__item-inner {
  border: 4px solid #2b4074;
  margin: 18px 0;
  padding: 25px 20px 5px;
  min-height: 277px;
}
.services__item-img {
  margin-bottom: 30px;
}
.services__item-title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4a4a4a;
}
.services__item-text {
  display: none;
  margin-bottom: 17px;
}
.services__item-link {
  display: none;
  letter-spacing: 2px;
  color: #2b4074;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .services {
    padding: 24px 0 0;
  }
  .services__descr {
    font-size: 24px;
    line-height: 26px;
  }
  .services__text {
    font-size: 18px;
    line-height: 24px;
  }
  .services__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
  }
  .services__item {
    width: 50%;
  }
  .services__item:nth-child(even) {
    border-left: none;
  }
  .services__item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .services {
    padding: 50px 0 0;
  }
  .services__items {
    margin: 0 -40px;
  }
  .services__item {
    min-height: 334px;
    padding: 0 65px;
  }
  .services__item:hover {
    padding: 0 18px;
  }
  .services__item:hover .sevices__item-inner {
    padding: 35px 60px 5px;
    min-height: 288px;
  }
}
@media (min-width: 1024px) {
  .services {
    padding: 52px 0 0;
  }
  .services__item {
    width: 25%;
    min-height: 277px;
    padding: 0 17px;
  }
  .services__item:nth-child(2), .services__item:nth-child(6) {
    border-right: none;
  }
  .services__item:hover {
    padding: 0 17px;
  }
  .services__item:hover .sevices__item-inner {
    margin: 10px 0;
    padding: 21px 9px 5px;
    min-height: 255px;
  }
}
@media (min-width: 1440px) {
  .services {
    padding: 0;
  }
  .services__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -100px 0 -50px;
  }
  .services__head {
    margin: 90px 100px 100px 0;
    min-width: 350px;
    max-width: 350px;
  }
  .services__title {
    text-align: left;
    margin-bottom: 60px;
    padding-bottom: 55px;
  }
  .services__title::after {
    margin-left: 0;
  }
  .services__descr {
    text-align: left;
    margin-bottom: 40px;
  }
  .services__text {
    text-align: left;
  }
  .services__items {
    margin: 0;
  }
  .services__item {
    width: 230px;
    height: 273px;
    padding: 0 5px;
  }
  .services__item:hover {
    padding: 0 5px;
  }
  .services__item:hover .sevices__item-inner {
    margin: 5px 0;
    padding: 10px 3px 5px;
    min-height: 255px;
  }
}
.project {
  text-align: center;
  padding: 20px 0 40px;
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}
.project__title {
  color: #ffffff;
  margin-bottom: 40px;
}
.project__title::after {
  background-color: #ffffff;
}
.project__item-img {
  min-height: 250px;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px 14px;
}
.project__item-img:hover .project__item-inner {
  opacity: 1;
}
.project__item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 246, 229, 0.83);
  border-radius: 4px;
  min-height: 227px;
  opacity: 0;
  transition: all 0.5s;
}
.project__item-info, .project__item-search {
  margin: 0 7px;
}
.project__item-link {
  display: block;
  padding: 20px 0;
  color: #2b4074;
  line-height: 19px;
  letter-spacing: 2px;
}

@media (min-width: 640px) {
  .project {
    padding: 40px 0 20px;
  }
  .project__item-img {
    min-height: 460px;
    padding: 21px 24px;
  }
  .project__item-inner {
    min-height: 417px;
  }
  .project__item-link {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (min-width: 768px) {
  .project {
    padding: 80px 0 60px;
  }
  .project__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project__item-img {
    min-height: 282px;
    width: 317px;
    padding: 12px 14px;
  }
  .project__item-inner {
    min-height: 256px;
  }
  .project__item-link {
    padding: 30px 0;
  }
}
@media (min-width: 1024px) {
  .project__items {
    justify-content: center;
  }
  .project__item-img {
    margin: 0 12px;
  }
}
@media (min-width: 1440px) {
  .project__items {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .project__item-img {
    width: 300px;
    margin: 0;
  }
}
.team {
  padding: 20px 0 40px;
  text-align: center;
}
.team__image {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 4px;
}
.team__title {
  margin-bottom: 23px;
}
.team__text {
  margin-bottom: 84px;
}
.team__btn {
  border: none;
  background-color: #2b4074;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 21px 26px;
  color: #f9f6e5;
  font-weight: 500;
}

@media (min-width: 640px) {
  .team {
    padding: 46px 0 53px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__text {
    margin-bottom: 56px;
  }
  .team__btn {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .team {
    padding: 40px 0 48px;
    text-align: left;
  }
  .team__inner {
    display: flex;
  }
  .team__image {
    margin-bottom: 0;
    width: 240px;
    height: 100%;
    margin-right: 34px;
  }
  .team__title {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 28px;
  }
  .team__title::after {
    margin-left: 0;
  }
  .team__text {
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .team {
    padding: 80px 0;
  }
  .team__image {
    width: 395px;
    margin-right: 60px;
  }
  .team__title {
    margin-bottom: 19px;
  }
  .team__text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .team {
    padding: 50px 0 110px;
  }
  .team__image {
    width: 470px;
    margin-right: 90px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__text {
    margin-bottom: 40px;
    width: 553px;
  }
}
.news {
  padding: 40px 0;
  text-align: center;
  background-color: #f9f6e5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.news__title {
  margin-bottom: 40px;
}
.news__item {
  height: 444px;
  position: relative;
  transition: all 0.5s;
  margin-bottom: 20px;
}
.news__item:hover .news__item-inner {
  opacity: 1;
}
.news__item:hover .news__item-link {
  background-color: #2b4074;
  color: #f9f6e5;
  bottom: 30px;
}
.news__item-img {
  min-height: 444px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news__item-link {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 2px;
  color: #4a4a4a;
}
.news__item-inner {
  height: 444px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(43, 64, 116, 0.3);
  border: 10px solid #2b4074;
  border-radius: 4px;
  opacity: 0;
}

@media (min-width: 640px) {
  .news__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .news__item {
    min-width: 270px;
    margin-bottom: 30px;
  }
  .news__title {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .news__items {
    justify-content: space-around;
  }
  .news__title {
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .news {
    padding: 50px 0;
  }
  .news__items {
    justify-content: space-around;
  }
  .news__title {
    margin-bottom: 115px;
  }
}/*# sourceMappingURL=style.css.map */