$accent: #2b4074;
$white: #ffffff;
$bg-color: #f9f6e5;
$text-color: #4a4a4a;
$default-color: #b9b9b9;

%dosis-300 {
  font-family: "Dosis-Light";
  font-weight: 300;
}
%dosis-500 {
  font-family: "Dosis-Medium";
  font-weight: 500;
}
%roboto-500 {
  font-family: "Roboto-Medium";
  font-weight: 500;
}
%robotocondensed-400 {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}
%robotocondensed-700 {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}
